/TestPractices/MSTest.TestPractices.Tests/bin
/TestPractices/MSTest.TestPractices.Tests/obj
/TestPractices/NUnit.TestPractices.Tests/obj
/TestPractices/NUnit.TestPractices.Tests/bin
/TestPractices/TestPractices/obj
/TestPractices/TestPractices/bin
/TestPractices/.vs
/TestPractices/packages
